.analysis {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  min-height: 100px;
  padding: 0.5rem;
  background: black;
  border: 1px solid black;
  z-index: 20;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
  overflow: auto;
}