@use '../../index.scss' as src;

.quiz {
  position: relative;
  width: 100%;
  height: 66%;
  flex: 0 0 66%;
  max-width: none;
  margin: 0;
  overflow: hidden;
}

.quiz-step {
  width: 100%;
  height: 100%;
}
